.default_link {
	color: #994afe;
}
.profile-pic-details p{
	margin-bottom: 2px !important;
}
.field_borders {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 3px 0px;
}
.custom-control-label {
	color: #6f7d83 !important;
}
.form-field1{
	padding: 15px 15px !important;
	font-weight: 400 !important;
	margin-bottom: 0 !important;
}