.contact-list td img {
    width: 30px !important;
    height: 30px !important;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 210px; 
  height: 1.2em; 
  white-space: nowrap;
}
.default_link {
	color: #994afe;
}
.profile-pic-details p{
	margin-bottom: 2px !important;
}
.field_borders {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 3px 0px;
}
.custom-control-label {
	color: #6f7d83 !important;
}
.form-field1{
	padding: 8px 15px !important;
	font-weight: 400 !important;
	margin-bottom: 0 !important;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 160px; 
  height: 1.2em; 
  white-space: nowrap;
}
.edu_block {
    padding-bottom: 10px;
}
.edu_block p {
    color: #fff;
    font-size: 18px;
    margin-bottom: -5px;
}
.edu_block span {
    color: #d2d2d2;
    font-size: 12px;
}
.location-field::before {
    background-image: url(../coach/images/map-red-icon.jpg) !important;
}
.location-field .form-field1 {
    padding-left: 45px !important;
    padding-right: 45px !important;
}
.wallet-table table tbody tr td {
    vertical-align: top;
}
.wallet-table .dropdown-menu {
    transform: none !important;
    left: auto !important;
    right: 0px !important;
    top: 100% !important;
}

.select2-selection--multiple {
    background-color: transparent !important;
    border: 1px solid #505050 !important;
    border-radius: 0 !important;
}
textarea.table-field1 {
    height: 100px !important;
}

.p-l-10{
    padding-left: 10px !important;
}
.table-image2 img {
    width: 40px !important;
    height: 40px !important;
    margin-top: -11px;
    border-radius: 50% !important;
}

.table-field1::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777;
}
.table-field1:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #777;
}
.table-field1::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #777;
}
.table-field1:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #777;
}
.table-white {
    color: #fff;
    font-size: 14px;
}
.table-white thead tr th {
    padding: 4px;
}
ul.less-triggers li a.nav-link.active, ul.less-triggers li a.nav-link.active {
    border-bottom: none;
    color: white !important;
    background: #7900b8;
    border-radius: 30px 30px 0px 0px !important;
    padding: 8px 30px !important;
}
.color-orange {
    color: orange !important;
}
.descrip {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nochatfound {
    padding: 10px 20px;
    font-weight: 600;
}

.empty-chat {
     margin: 0;
     position: absolute;
     top: 40%;
     left: 32%;
     text-align: center;
 }
 .empty-chat h2 {
     color: #555;
     font-size: 30px;
     line-height: 100%;
     margin-bottom: 15px;
 }
 .empty-chat h5 {
     color: #999;
     font-size: 16px;
     font-weight: 400;
     margin: 10px auto;
 }

.chatheight .row {
    min-height: 700px;
}
.chat-content h5 {
    color: #e0e0e0 !important;
}
.chat-open-head {
    text-align: center;
    color: #fff !important;
}
.chat-open-head h5 {
    color: #fff;
}
.inbox-aside .chatonline li a span {
    color: #676767 !important;
}


/* Emojie */
.emoji-menu {
    bottom: 100px !important;
    left: 15px !important;
}
.emoji-picker-icon {
    opacity: 0 !important;
}

.emoji-items-wrap::-webkit-scrollbar {
   width: 2px !important;
 }
.emoji-items-wrap::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
.emoji-items-wrap::-webkit-scrollbar-thumb {
   background: #88888875; 
 }
.emoji-items-wrap::-webkit-scrollbar-thumb:hover {
   background: #888888bf; 
 }

  /* File Attachment */
 #fileAttach{
    display: none;
 }
 .send-actions label{
  cursor: pointer;  
 }
 #fileAttachName {
    position: absolute;
    right: 29px;
    top: 5px;
    background-color: #e6e6e6;
    padding: 3px 20px;
}
.chatAttach {
    padding: 10px 40px 10px 5px;
    background-color: #e6e6e6;
    max-width: 220px;
    word-break: break-word;
    text-align: left;
    border-radius: 3px;
    margin-bottom: 5px;
    direction: ltr;
}
.chatAttach a {
    float: right;
    top: 0;
    right: 0;
    margin-right: -34px;
    margin-top: -5px;
    background-color: #fff;
    padding: 5px 7px;
    border-radius: 16px;

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.chatAttach a:hover {
    background-color: #337ab7;
    color: #fff;
}

.attachlabel {
    cursor: pointer;
}

#talksall{
    overflow-y: scroll !important;
}
.chatAttach{
    margin-bottom: 10px;
}
.reverse .chatAttach {
    float: right !important;
}

#talksall::-webkit-scrollbar
{
    width: 1px;
   /* background-color: #F5F5F5;*/
}

#talksall::-webkit-scrollbar-thumb
{
 /*   border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  /*  background-color: #555;*/
}

.friends-box img {
    height: 205px !important;
}

/* Review Modal */
.review-modal .modal-content {
    padding: 20px;
}

.review-modal .rating_block {
    font-size: 25px;
    margin-top: -12px;
    margin-bottom: 5px;
}
#seller_name {
    font-weight: 600;
}


/* My Account Area */
.level-box2 .disabled, .level-box3 .disabled, .level-box4 .disabled {
    background: #929292;
}

.level-box2 .active, .level-box3 .active, .level-box4 .active {
    background: #994afe;
}
.line-1.active {
    background: #994afe !important;
}


<<<<<<< HEAD

/* Redeem */
.badge-box .details{
    padding: 0px 10px;
}
.badge-box .details p {
    margin: 0;
    color: #994afe;
    font-weight: 500;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-top: -12px;
}
.badge-box .details .reward {
    display: inline-flex;
    font-size: 20px;
    font-weight: 500;
    color: #3c3c3c;
}
.badge-box .details .reward img {
    width: 18px;
    height: 18px;
    margin-top: 7px;
}
.badge-box .details .deadline {
    float: right;
    padding: 3px 0px;
    color: #3c3c6c;
}
.label-field3:nth-child(1) {
    border-right: 1px solid silver;
}
.label-field3 {
    display: inline-block;
    width: 215px;
    position: relative;
}
.label-field3 i {
    position: absolute;
    left: 10px;
    top: 32%;
    color: grey;
}
.label-field3 input {
    width: 100%;
    border: none;
    height: 42px;
    letter-spacing: 0.3px;
    color: black;
    padding: 0px 10px 0px 30px;
}
.label-field3 {
    display: inline-block;
    width: 215px;
    position: relative;
}
.label-field3 i {
    position: absolute;
    left: 10px;
    top: 32%;
    color: grey;
}
.label-field3 select {
    width: 100%;
    border: none;
    height: 42px;
    letter-spacing: 0.3px;
    color: black;
    padding: 0px 10px 0px 30px;
}
.submit-field1 {
    display: inline-block;
}
.submit-field1 button {
    padding: 7px 15px !important;
    font-size: 15px !important;
    letter-spacing: 0.6px;
    border-radius: 5px;
    font-weight: 400 !important;
        border: none;
}
.submit-field1 button:hover {
    padding: 7px 15px !important;
    font-size: 15px !important;
    background: #1d242c !important;
        letter-spacing: 0.6px;
    border-radius: 5px;
    font-weight: 400 !important;
        border: none;
}
.search-form {
    float: left;
    margin-left: 40px;
    background: white;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-right: 6px;
    height: 45px;
}
.left-sidebar {
    background: #1d242c !important;
    border-right: 2px solid #9a49ff;
}
.custom-table1 table thead th {
    background: #9a49ff;
    color: white;

}
.custom-table1 table {
    border: 1px solid #9a49ff;
    border-radius: 10px;
}
.head-tag1 {

    border-bottom: 1px solid black;
}
.desktop
{
    display: block;
}
.mobile
{
    display: none;
}
.navbar-header a img {
    width: 150px;
}
.profile-text a i:hover::before {
    color: white !important;
}
@media only screen and (max-width: 767px) {

.desktop-v
{
    display: none;
}
.desktop
{
    display: none;
}
.mobile
{
    display: block;
}
.user-profile-header {
    text-align: center;
    padding: 10px 10px 0px 10px;
}
.account-btn1 {
    margin-top: 0px;
    display: inline-block;
}
.user-profile .profile-text {

    display: inline-block;
}
.custom-btn2 {
    font-size: 9px;
    padding: 6px 8px;
}
    .user-profile .profile-text>a {
 
    font-size: 14px;
}
.user-profile .profile-text>a i {
    font-size: 24px;
}
.user-profile .profile-text {
    margin-top: 0px;
}

.user-profile-header h4 {
    font-size: 12px;
    width: 46%;  
    font-weight: 400;
    line-height: 1;
    text-align: left;
    padding-left: 5px;
}
    .user-profile-header p span {
    font-size: 12px;
}
.user-profile-header p a img {
    width: 20px;
}

.user-profile-header p span b {

    font-size: 18px;
}
.user-profile-header {
    display: inline-flex !important;
    width: 100%;
}

.user-profile-header p {
    width: 58%;
}
.user-profile-header p span {
   
    width: 50px;
    }
    .user-profile {
    margin: 0 auto;
    text-align: center;
}
body.mini-sidebar .sidebar-nav {
    margin-top: 10px;
}
.scroll-sidebar {
     padding-bottom: 0px; 
}
  .mini-sidebar .top-navbar .navbar-header {
    width: 360px !important;
}  
.user-profile-header {
    padding-top: 20px;
}
.mini-sidebar .sidebar-nav #sidebarnav>li>a {
    padding: 5px 10px;
    font-size: 13px !important;
}
.user-profile-header p {
    margin-bottom: 5px;
}
  .profile-img img {
    width: 100%;
    border-radius: 50%;
    height: 27px;
}
.profile-img {
    height: 30px;
}
.profile-name
{
font-size: 12px;
    width: 46%;
}
.profile-text {
    display: inline-flex;
        position: relative;
    right: 0px;
    top: 25px;
}
.header-login {
    padding-top: 20px;
}
b.notif-icon1 {
    right: 103px;
}
b.notif-icon2 {
    right: 40px !important;
    top: 0px !important;
}
.profile-text a i::before {

    padding-top: 0px !important;
    padding-right: 0px !important;
}
.profile-text .noti-mob
{
    margin-top: -7px !important;

}



}

b.notif-icon2 {
    position: absolute;
    width: 17px;
    height: 17px;
    background: #ef5350;
    border-radius: 100%;
    font-size: 12px;
    font-family: Roboto !important;
    font-style: normal;
    color: white;
    font-weight: 400;
    padding-left: 5px;
    right: 148px;
    top: 15px;
}
.profile-text a {
    padding-left: 15px;
}
.mini-sidebar .top-navbar .navbar-header {
    width: 240px;
}
body.mini-sidebar a.navbar-brand {
    width: 180px !important;
}


aside.left-sidebar.mobile {
    background: #1d242cd9 !important;
}

.pac-container.pac-logo {
    z-index: 99999;
}

 .navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 16px !important;
}
li.nav-item.dropdown a i {
   font-size: 12px;
}

a.nav-link {
        padding: 3px 15px;
}
nav.navbar.navbar-expand-lg.navbar-dark.desktop {
    padding: 0px !important;
    padding-left: 20px !important;
}
/*.dropdown-menu.show {
    background: #9a49ff;
}
.dropdown-menu.show a {
    color: white;
}*/
.dropdown-menu.show {
    background: #fff;
    padding: 10px 10px;
}
.dropdown-menu.show a {
    color: black;
    padding: 5px 5px !important;
    font-size: 14px;
    font-weight: 400;
}
.dropdown-menu a:hover {
    background: transparent !important;
    color: #9949FE !important;
    font-weight: 400;
}
.dropdown-menu {
    min-width: 155px;
}
.dropdown-menu.syed {
     left: 0px !important;
}


.dropdown-menu a:hover {
    background: #1d242c;
}
.header-login .dropdown .dropdown-menu {
    left: -100px !important;
}
.card {
    margin-bottom: 0px;
}
html body .b-l {
    border:0px;
}
@media only screen and (max-width: 767px) {

.desktop
{
   display: none;
}
.sidebar-nav ul {
    margin-top: 10px;
}

}

.ui-widget {
    z-index: 9999 !important;
}


#ui-id-1 {
    margin-top: 60px !important;
}

ul#ui-id-1 {

    border-radius: 10px !important;
    padding: 8px !important;
    z-index: 9999;
}
.ui-state-active
{
color: #fff !important;
    background:#9a49ffd4 !important;
    border-radius: 10px !important;
    border: 0px !important;
    padding: 4px 7px !important;
    font-size: 14px;

}
ul#ui-id-1 li {
    color: black !important;
    
    border: 0px !important;
    border-radius: 10px !important;
     padding: 3px 0px;
     transition: 5s;
     font-size: 14px;
}
textarea.form-control {
    background: #1d242c;
    border-radius: 0px;
    border: 1px solid;
    height: 100px;
    color: white !important;
}
textarea.form-control:focus {
    background: #1d242c;
     border: 1px solid;

}
 .become_coach button{

padding: 9px 30px !important;
    font-size: 16px !important;
    letter-spacing: 0.6px;
    border-radius: 5px;
    font-weight: 400 !important;
    background: #9949fe;
    color: white;
    border: 0px;
      margin-top: 20px;
  }
   .become_coach button:hover{

    background: black !important;
    color: white;

  }

  .lesson-tag {
    position: absolute;
    top: 0px;
    z-index: 1;
    left: -5px;
}
.lesson-tag img{
    width: 90px;
}

@media screen and (max-width: 767px) {

}
@media screen and (max-width: 1024px) and (min-width: 768px) {
 .lesson-tag {
    position: unset;

    margin-bottom: -92px;
}
.search-form.desktop-v {
    display: none;
}
.card-body.b-l.calender-sidebar {
    padding-left: 45px;
}
.sec-head1.ps h3 {
    padding-left: 40px;
}

}

#dateTimeBlock {
    display: none;
}
.closeLocation {
    position: absolute;
    right: 15px;
    top: 10px;
    background: red;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
#friend_participant{
    display: none;
}
.newRequest-modal .modal-content {
    padding: 12px 15px;
}
.sportsItem{
    display: none;
}
#loadmore {
    color: #994afe !important;
}
 

button.toggle-trig1 {
    background: none;
    color: white;
    box-shadow: none !important;
    border: none;
    float: right;
    display: none;
    font-size: 18px;
    outline: none !important;
}

button.toggle-trig2 {
    background: none;
    color: white;
    box-shadow: none !important;
    border: none;
    float: right;
    display: none;
    font-size: 18px;
    outline: none !important;
}



/*Issues Fixing*/



@media screen and (max-width:1160px) and (min-width:1000px) { 
.label-field3 {
    display: inline-block;
    width: 160px;
    position: relative;
}
.header-1 .container {
    max-width: 100% !important;
}
.header-1 .navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 14px;
    padding: 10px 8px !important;
}
.header-1  ul.navbar-nav.mr-auto li {
    padding-right: 2px;
}
.header-1  a.header-btn1 {
    color: white;
    padding: 10px 5px;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 14px;
}
a.header-btn3 {
    padding: 6px 18px;
}
.search-form {
    float: left;
    margin-left: 20px;
}
}


@media screen and (max-width:600px) and (min-width:300px) { 

div.timeline-calendar-mobile {
    padding: 0px !important;
}
.timeline-calendar-mobile .fc button {
    font-size: 14px !important;
    padding: 0px 8px !important;
}
.timeline-calendar-mobile .fc-toolbar .fc-center {
    width: 100% !important;
    text-align: center !important;
}
.timeline-calendar-mobile .fc-toolbar .fc-center h2 {
    text-align: center;
    width: 100%;
}
div.timeline-calendar-mobile {
    padding: 0px !important;
    margin-top: 30px !important;
}

.timeline-calendar-mobile .fc-toolbar .fc-left  {
     padding: 0px 5px !important; 
}
.timeline-calendar-mobile .fc-toolbar .fc-right {
    padding: 0px;
    float: right;
}
.mobile-inbox-wrapper .chat-main-box.inbox-aside {
    min-height: 0px !important;
    height: auto !important;
}
.mobile-inbox-wrapper .empty-chat {
    position: static;
    width: 100% !important;
}
.mobile-inbox-wrapper2 .chat-left-inner {
    height: auto !important;
}
.mobile-inbox-wrapper2 .chat-person-name {
    padding: 5px 15px 5px 15px;
}
 
 
.ui-menu-item-wrapper strong {
    font-weight: 600 !important;
 
}
button.toggle-trig1 {
    display: block;
}
.toggle-content1 {
    display: none;
}

button.toggle-trig2 {
    display: block;
}
.toggle-content2 {
    display: none;
}
.mobile-inbox-wrapper .open-panel {
    display: none !important;
}
.mobile-inbox-wrapper .row {
    min-height: 0px !important;
}
.chat-about-details-head {
    text-align: left;
    padding: 20px 10px;
}
.mobile-inbox-wrapper2 .chat-main-box .chat-left-aside .open-panel {
    display: none !important;
}
.mobile-inbox-wrapper2 .chat-list {
     height: 300px !important;
    overflow-y: auto !important;
    max-width: 310px !important;
}
.mobile-inbox-wrapper .chat-list {
    height: 300px !important;
    overflow-y: auto !important;
    max-width: 310px !important;
}
.chat-sidebar-head h5 a {
    margin-right: 10px;
}
.chat-main-box .chat-left-aside .open-panel {
    display: none;
}
.inbox-aside {
    margin-bottom: 10px !important
}
.inbox-aside .sec-head4 {
    padding: 15px 15px;
}
.inbox-aside .sec-head4 h5 {
 
    font-size: 15px;
}

.chat-main-box .chat-person-name h4 {
    padding: 5px 0px 0px 0px;
    font-weight: 500;
    color: white;
    font-size: 15px;
    letter-spacing: 0.4px;
    margin: 0px 0px 4px 0px;
}
.chat-open-head p {
    display: none;
}
.chat-about-details-head {
    text-align: left;
    padding: 10px 10px;
}
.chat-about-details-head h4 {
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 17px;
    color: white;
}
body ul.chat-list {
    padding: 5px 10px !important;
}
.page-titles h3 {
 
    margin-bottom: 0px !important;
}
.page-titles {
    margin-bottom: 5px;
}
 html body div.chat-list {
    height: 300px !important;
    overflow-y: auto !important;
    max-width: 310px !important;
}
}

 
.ui-menu-item-wrapper strong {
    font-weight: 600 !important;
}
 
